/* Base Styles */

body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    margin: 0;
    padding: 0;
}

input{
    border-radius: 3px;
    border: 1px solid #ccc;
}
p {
    color: white;
    font-size: 14px;
}
label {
    color: white;
    font-size: 14px;
}


.rc-slider-mark-text{
    color: white;
    font-size: 15px;
}
.rc-slider{
    width: 100%; 
    margin-left: -20px; 
    margin-bottom: 15px;
}
.rc-slider-tooltip-inner{
    font-size: 15px;
}
#modal > div {
    max-height: 850px;
    overflow-y: auto;  /* Allow scrolling within the modal content */
}










  
  